about-time==4.2.1
absl-py==1.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
alive-progress==3.0.1
antropy==0.1.5
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==5.0.1
attrs==22.2.0
audeer==2.2.0
audformat==1.1.4
audinterface==1.2.1
audiofile==1.5.0
audiomentations==0.29.0
audioread==3.0.0
audmath==1.4.1
audobject==0.7.11
audresample==1.3.3
autograd==1.5
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.11.2
bleach==6.0.0
blis==0.7.9
catalogue==2.0.8
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
cma==3.2.2
cmake==3.26.1
colorama==0.4.6
comm @ file:///croot/comm_1671231121260/work
confection==0.0.4
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.7
debugpy==1.6.6
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
docopt==0.6.2
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
essentia==2.1b6.dev858
et-xmlfile==1.1.0
exact-cover==0.4.3
executing==1.2.0
fastai==2.7.11
fastcore==1.5.28
fastdownload==0.0.7
fastdtw==0.3.4
fastjsonschema==2.16.2
fastprogress==1.0.3
ffmpeg==1.4
filelock==3.10.7
fiona==1.9.5
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.3.0
future==0.18.3
geopandas==0.13.2
grapheme==0.6.0
idna==3.4
idx2numpy==1.2.3
imageio==2.25.1
imbalanced-learn==0.10.1
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.21.2
ipython @ file:///croot/ipython_1676582224036/work
ipython-genutils==0.2.0
iso-639==0.4.5
iso3166==2.1.1
isoduration==20.11.0
iteration-utilities==0.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
joypy==0.2.6
jsonpointer==2.3
jsonschema==4.17.3
julius==0.2.7
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core @ file:///croot/jupyter_core_1676538566912/work
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
langcodes==3.3.0
lazy_loader==0.1
librosa==0.9.2
lightgbm==3.3.5
lightning-utilities==0.11.9
lit==16.0.0
llvmlite==0.41.1
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune==2.0.5
mpmath==1.2.1
msgpack==1.0.5
multidict==6.1.0
murmurhash==1.0.9
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==2.8.8
notebook==6.5.2
notebook_shim==0.2.2
numba==0.58.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
opencv-python==4.7.0.68
openpyxl==3.1.2
opensmile==2.5.0
ortools==9.5.2237
oyaml==1.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathy==0.10.1
patsy==0.5.6
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==3.0.0
pooch==1.6.0
preshed==3.0.8
pretty-poly==0.2.0
primePy==1.3
prometheus-client==0.16.0
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
propcache==0.2.0
protobuf==4.22.1
psutil==5.9.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser==2.21
pycryptosat==5.11.8
pydantic==1.10.7
pydub==0.25.1
pyee==8.2.2
Pygments==2.14.0
pymoo==0.6.0.1
pyparsing==3.0.9
pyppeteer==1.0.2
pyproj==3.5.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.19.3
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-json-logger==2.0.6
python-tsp==0.3.1
pytorch-lightning==2.4.0
pyts==0.12.0
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
requests==2.32.3
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scikit-learn==1.2.1
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.0
shapely==2.0.2
signal-envelope==1.3
similaritymeasures==0.7.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post1
smart-open==6.3.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.4
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data==0.6.2
statsmodels==0.14.1
stochastic==0.7.0
stumpy==1.13.0
sympy==1.11.1
tabulate==0.8.10
terminado==0.17.1
thinc==8.1.9
threadpoolctl==3.1.0
timedelta==2020.12.3
tinycss2==1.2.1
torch==1.13.1
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.2
torchaudio==0.13.1
torchmetrics==1.5.2
torchvision==0.14.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.65.0
traitlets==5.9.0
triton==3.0.0
tsai==0.3.5
tsfel==0.1.9
tsfresh==0.20.3
tsp-solver2==0.4.1
tsplib95==0.7.1
typer==0.7.0
typing_extensions==4.13.2
uri-template==1.2.0
urllib3==1.26.14
wasabi==1.1.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
wrapt==1.14.1
xgboost==1.7.4
yarl==1.15.2
zipp==3.14.0
